body {
    background-color: #f7f7f7;
    overflow: overlay;
    display: inline-block;
}

#fadeintext {
    animation: fadeIn linear 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.foo {
    text-decoration: none;
    color: #f7f7f7;
}

#learnmore {
    text-decoration: none;
    color: purple;
}

#learnmore:hover{
    text-decoration: underline;
}

.scoll-pane {
    width: 100%;
    height: auto;
    overflow: auto;
    outline: none;
    overflow-y: hidden;
    padding-bottom: 15px;
    -ms-overflow-style: scroll;
    scrollbar-width: none;
}

.projects {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.scoll-pane::-webkit-scrollbar {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(41, 43, 44, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(41, 43, 44, 0.9);
}



section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    margin: 100px;
}

@media (max-width: 900px) {
    section h1 {
        font-size: 2rem;
        text-align: center;
    }

    section .text-container {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

button {
    animation-name: floating;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}

.btn.btn-primary {
    background-color: rgb(116, 73, 116);
    border: none;
}


#blinkertext {
    animation: blinker 7s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0.5;
    }
  }